.inputselect { 
  margin: 2px; 
  cursor: pointer; 
  min-width: 230px; 
  position: relative; 
  display: inline-block; 
  cursor: pointer; 
  font-size: 1.5ch; 
} 

.selectheader { 
  border: 1px solid #000; 
  width: 100%; 
  text-align: right; 
} 

.selectheader span { 
  display: inline-block; 
} 

.selectheader .btn { 
  padding-left: 1ch; 
  padding-right: 1ch; 
  margin: 0.2ch; 
} 

.selectheader .selected { 
  
} 

.selectheader .element{ 
  margin-right: 1ch; 
} 

.selectfold { 
  border: 1px solid #000; 
  position: absolute; 
  background-color: #f6f6f6; 
  width: 100%; 
} 

.selectedOption { 
  color:black; 
  font-weight: bold; 
} 

.noSelectedOption { 
  color: gray; 
  font-weight: lighter; 
} 

